@import '../utils/mixins';

$grid__bp--sm: 639;
$grid__bp--md: 1199;

$grid__cols--sm: 12;
$grid__cols--md: 24;

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px 16px;
  &--desktop {
    display: block;
    @include onTablet {
      display: grid;
    }
    @include onDesktop {
      display: grid;
    }
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 16px;
  }
  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 16px;
  }

  // &__container {
  //   column-gap: 16px;
  //   margin: 0 auto;

  //   &__row {
  //     display: flex;
  //     flex-wrap: wrap;
  //     width: 100%;
  //   }
  //   @for $i from 1 through $grid__cols--sm {
  //     &__col-sm-#{$i} {
  //       flex-basis: (100 / ($grid__cols--sm / $i)) * 1%;
  //     }
  //   }
  //   @media screen and (min-width: ($grid__bp--md * 1px)) {
  //     @for $i from 1 through $grid__cols--md {
  //       &__col-md-#{$i} {
  //         flex-basis: (100 / ($grid__cols--md / $i)) * 1%;
  //       }
  //     }
  //   }
  // }


  &__item {
    @for $start from 1 through 4 {
      @for $end from $start through 4 {
        &--onPhone--#{$start}-#{$end} {
          @include onPhone {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--onTablet--#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 24 {
      @for $end from $start through 24 {
        &--onDesktop--#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
