@import '../../../styles/utils/vars';
@import '../../../styles/utils/mixins';

.burger__menu {
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #0f1121;
  position: relative;
  transform: translateX(-100%);
  transition: all 0.2s;

  &--top {
    display: flex;
    justify-content: space-between;
    border: solid #3b3e4a 1px;
  }

  &--top-logo {
    display: flex;
    background-image: url(../../../images/logo.svg);
    height: 22px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px;
  }

  &--top-close {
    display: flex;
    width: 16px;
    padding: 26px;
    border-left: solid #3b3e4a 1px;
    background-image: url(../../../images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
  }

  &--main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 40px;
  }

  &--link {
    text-decoration: none;
    color: #75767f;
    text-transform: uppercase;
    font-weight: 800;

    &:hover {
      color: #f1f2f9;
      border-bottom: solid #f1f2f9 3px;
    }
  }

  &--bottom {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;

    border-top: solid #75767f 1px;
  }

  &--bottom-favourites {
    border: solid #75767f 1px;
    background-color: #161827;
    padding: 25px 72px;
    width: 50%;
    background-image: url(../../../images/favourites.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--bottom-basket {
    border: solid #75767f 1px;
    background-color: #161827;
    padding: 25px 72px;
    width: 50%;
    background-image: url(../../../images/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.burger__menu.open {
  transform: translateX(0);
}
