@mixin onPhone {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) and (max-width: 1199px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}
