$black: #0f1121;
$surface-1: #161827;
$surface-2: #323542;
$elements: #3b3e4a;
$icons: #4a4d58;
$secondary: #75767f;
$red: #eb5757;
$green: #27ae60;
$accent-1: #905bff;
$accent-2: #a378ff;
$white: #f1f2f9;
