@import '../utils/mixins';

.container {
  margin: 0 auto;
  max-width: 1200px;

  @include onPhone {
    padding: 0 16px;
  }

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }
}
