@import '../utils/mixins';
@import '../utils/vars';

.container {
  margin: 0 auto;
  width: 100%;
  // this width includes internal desktop padding, dont worry this not work for mobile
  // max-width: 1175px;
  max-width: 1200px;

  @include onPhone {
    padding: 0 16px;
    min-height: $contentSizePhone;
  }

  @include onTablet {
    padding: 0 24px;
    min-height: $contentSizeTablet;
  }

  @include onDesktop {
    padding: 0 32px;
    min-height: $contentSizeDesktop;
  }
}
