@import '../utils/mixins';

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(24, 1fr);
  }

  &__item--tablet {
    @include onTablet {
      @for $start from 1 through 12 {
        @for $end from $start through 12 {
          &-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }

  &__item--desktop {
    @include onDesktop {
      @for $start from 1 through 24 {
        @for $end from $start through 24 {
          &-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
