@import '../../styles/main.scss';

.footer {
  display: flex;
  flex: 0 0 auto;
  border-top: 1px solid $secondary;
  justify-content: space-between;
  
  padding: 32px 32px;

  @include onPhone {
    flex-direction: column;
    padding: 32px 16px;
  }

  @include onTablet {
    height: 96px;
    align-items: center;
  }

  &__logo {
    display: flex;
    background-image: url(../../images/logo.svg);
    height: 32px;
    width: 88px;
    background-size: contain;
    background-repeat: no-repeat;

    @include onPhone {
      margin-bottom: 32px;
    }

    &-link {
      height: 32px;
      width: 88px;
    }
  }

  &__nav {
    display: flex;

    @include onPhone {
      flex-direction: column;
      margin-bottom: 32px;
    }

    &-link {
      font-style: normal;
      font-weight: 800;
      font-size: 12px;
      line-height: 11px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $white;

      @include onTablet {
        &:not(:last-child) {
          padding-right: 16px;
        }
      }

      @include onDesktop {
        &:not(:last-child) {
          padding-right: 106px;
        }
      }

      @include onPhone {
        &:not(:last-child) {
          padding-bottom: 16px;
        }
      }
    }
  }

  &__back {
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      color: $secondary;
      padding-right: 16px;
    }

    &-button {
      background-image: url('../../images/button-back.svg');
      width: 32px;
      height: 32px;
    }
  }
}
