@import '../../styles/main.scss';

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 0 $secondary;

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include onPhone {
      padding-left: 16px;
      height: 48px;
    }

    @include onTablet {
      padding-left: 16px;
      height: 48px;
    }

    @include onDesktop {
      padding-left: 24px;
      height: 64px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    @include onPhone {
      display: none;
    }

    @include onTablet {
      height: 48px;
    }

    @include onDesktop {
      height: 64px;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondary;
    position: relative;
    display: flex;
    align-items: center;

    @include onTablet {
      margin-right: 32px;
      height: 48px;
    }

    @include onDesktop {
      margin-right: 64px;
      height: 64px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $white;
    }

    &-active {
      color: $white;

      &::after {
        position: absolute;
        bottom: 0;
        display: block;
        height: 3px;
        width: 100%;
        content: '';
        background-color: $white;
        border-radius: 8px;
      }
    }
  }

  &__logo {
    display: flex;
    background-image: url(../../images/logo.png);
    height: 22px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;

    @include onTablet {
      padding-right: 32px;
    }

    @include onDesktop {
      padding-right: 64px;
      height: 26px;
      width: 80px;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;

    @include onPhone {
      display: none;
    }

    &-link {
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      box-shadow: -1px 0px 0px $secondary;

      @include onDesktop {
        width: 64px;
        height: 64px;
      }
    }

    &-favourites {
      background-image: url(../../images/favourites.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &-cart {
      background-image: url(../../images/cart.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.logo {
  &__link {
    height: 22px;
    width: 60px;

    @include onDesktop {
      height: 26px;
      width: 80px;
    }
  }
}
