@import '../../styles/blocks/container.scss';
@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.nav {
  display: flex;
  align-items: baseline;
  padding-bottom: 16px;

  @include onPhone {
    padding-bottom: 24px;
  }

  &__arrow {
    background-image: url('../../images/nav_arrow-left.svg');
    width: 6px;
    height: 10px;
    margin-right: 10px;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $white;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
  padding-bottom: 32px;

  @include onPhone {
    font-size: 32px;
    line-height: 41px;
  }
}

.content {
  margin-bottom: 80px;

  @include onPhone {
    margin-bottom: 64px;
  }

  @include onTablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.products {
  @include onPhone {
    padding-bottom: 32px;
  }

  @include onTablet {
    padding-bottom: 32px;
  }
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $surface-1;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include onPhone {
    height: 160px;
  }

  @include onTablet {
    height: 128px;
  }

  @include onDesktop {
    min-width: 752px;
    height: 128px;
  }
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 206px;
  border: 1px solid $elements;
}
